
error.txt
bazadanych.db
error.txt
error.txt
error_old.txt
bazadanych.db
.vs/Autotrader/v14/.suo
*.sln
Autotrader.sln
bazadanych.db
error.txt
error2.txt
error.txt
.vs/trv2/v14/.suo
.vs/trv2/v14/.suo
hashtag_generator.py
error_run_forever.txt
matloatlib_test2.py
matloatlib_test2.py
matplotlib_test2_1.py
Testy/text_blob_test1.py
text_blob_test1.py
Testy/matplotlib_test2.py
text_blob_test1.py
matplotlib_test2_1.py
matplotlib_test2.py
matloatlib_test2.py
